@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Chakra Petch", system-ui;
  font-weight: 300;
  font-style: normal;
  color: #888;
}

a {
  color: #888;
  text-decoration: none;
}

header {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
}
header img {
  width: 280px;
}
header .menu {
  display: flex;
  flex-direction: row;
}
header .menu li {
  padding: 0 0.5rem;
}

.section {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  float: left;
}
.section.header {
  height: 40rem;
}
.section.header .logo {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
.section.header .logo img {
  width: 280px;
}
.section.header .about {
  width: 70%;
  display: flex;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.95rem;
  padding: 8rem 5rem 0rem 1rem;
}
.section.generative .title, .section.generative .seed, .section.screen .title, .section.screen .seed, .section.datavis .title, .section.datavis .seed {
  color: white;
}
.section.reverse {
  flex-direction: row-reverse;
}
.section.reverse .image .text-group {
  align-items: flex-start;
}
.section .image, .section .text {
  position: relative;
  float: left;
}
.section .image {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .image .text-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 5;
  color: black;
  padding: 0 4rem;
}
.section .image .text-group .title {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.section .image img {
  position: relative;
  float: left;
  width: 100%;
}
.section .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4rem;
  width: 30%;
}
.section .text .title {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  display: none;
}
.section .text .info {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.95rem;
  padding: 0.5rem 0;
}
.section .text .seed {
  display: none;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  aspect-ratio: 16/9;
}
.slider .slides {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider .slides .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeAnimation 28s infinite;
}
.slider .slides .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .slides .slide:nth-child(1) {
  animation-delay: 0s;
}
.slider .slides .slide:nth-child(2) {
  animation-delay: 4s;
}
.slider .slides .slide:nth-child(3) {
  animation-delay: 8s;
}
.slider .slides .slide:nth-child(4) {
  animation-delay: 12s;
}
.slider .slides .slide:nth-child(5) {
  animation-delay: 16s;
}
.slider .slides .slide:nth-child(6) {
  animation-delay: 20s;
}
.slider .slides .slide:nth-child(7) {
  animation-delay: 24s;
}
.slider .indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}
.slider .indicators .indicator {
  position: relative;
  width: 100px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
@media (max-width: 600px) {
  .slider .indicators .indicator {
    width: 30px;
  }
}
.slider .indicators .indicator .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: width 0.3s ease;
}
.slider .indicators .indicator:nth-child(1) .line {
  animation: fillLine 28s infinite;
}
.slider .indicators .indicator:nth-child(2) .line {
  animation: fillLine 28s infinite;
  animation-delay: 4s;
}
.slider .indicators .indicator:nth-child(3) .line {
  animation: fillLine 28s infinite;
  animation-delay: 8s;
}
.slider .indicators .indicator:nth-child(4) .line {
  animation: fillLine 28s infinite;
  animation-delay: 12s;
}
.slider .indicators .indicator:nth-child(5) .line {
  animation: fillLine 28s infinite;
  animation-delay: 16s;
}
.slider .indicators .indicator:nth-child(6) .line {
  animation: fillLine 28s infinite;
  animation-delay: 20s;
}
.slider .indicators .indicator:nth-child(7) .line {
  animation: fillLine 28s infinite;
  animation-delay: 24s;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  7.1428571429% {
    opacity: 1;
  }
  14.2857142857% {
    opacity: 1;
  }
  21.4285714286% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fillLine {
  0% {
    width: 0;
  }
  7.1428571429% {
    width: 0;
  }
  14.2857142857% {
    width: 100%;
  }
  21.4285714286% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
.disclaimer {
  position: relative;
  float: left;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 6rem;
  font-size: 0.75rem;
  font-weight: 400;
}
.disclaimer p {
  width: 70%;
}

footer {
  position: relative;
  width: 100%;
  float: left;
}
footer ul {
  width: 600px;
  margin: 0 auto;
  padding: 6rem 0;
}
footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 0.75rem;
  font-weight: 400;
}

@media (max-width: 1000px) {
  header {
    width: 100%;
  }
  header .menu {
    display: none;
  }
  .section {
    flex-direction: column !important;
    padding: 0 0 0 0;
  }
  .section.header {
    height: auto;
    flex-direction: column;
    padding-bottom: 4rem;
  }
  .section.header .logo, .section.header .about {
    width: 100%;
  }
  .section.header .logo {
    padding: 1rem;
    justify-content: center;
  }
  .section.header .about {
    width: 100%;
    padding: 1rem;
  }
  .section .image, .section .text {
    width: 100%;
  }
  .section .text {
    padding: 1rem 1rem 10rem 1rem;
  }
  .section .image {
    align-items: flex-end;
  }
  .section .image .text-group {
    align-items: flex-start;
    padding: 1rem;
  }
  .disclaimer {
    width: 100%;
    padding: 3rem 1rem 0 1rem;
  }
  .disclaimer p {
    width: 100%;
  }
  footer {
    padding: 3rem 1rem 0 1rem;
  }
}/*# sourceMappingURL=style.css.map */